:root {
  --main-font-family: 'Poppins', sans-serif;
  --background-color: linear-gradient(#44386B, #564787);
  --light-font-color: #ffffff;
  --image-border-color: #ffffff;
  --color-text-black: #000000;
  --color-button-secondary-light: #04D361;
  --color-button-secondary-dark: #0d8f47;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--background-color);
  font-family: var(--main-font-family);
  color: var(--light-font-color);
}

.content-wrapper {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}

.content-wrapper img {
  margin-top: 70px;
  margin-bottom: 10px;
  border: 2px solid var(--image-border-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.content-wrapper h1 {
  text-align: center;
}

.social-medias {
  margin-top: 50px;
  max-width: 500px;
  width: 90%;
}

.social-medias .social-media-item {
  color: var(--color-text-black);
  background: var(--color-button-secondary-light);
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 12px;
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.social-medias .social-media-item:hover {
  background: var(--color-button-secondary-dark);
  transition: .2s;
}

.social-medias .social-media-item strong {
  font-size: 22px;
  text-align: center;
  
}

.social-medias .social-media-item i {
  font-size: 40px;
}
